.about-cover {
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .contact-cover h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 
        1px 1px 0 #000, 
        2px 2px 0 #000, 
        3px 3px 0 #000, 
        4px 4px 0 #000;
    transform: rotateX(10deg) rotateY(10deg);
} */

.about-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.about-container.fade-out {
    opacity: 0;
    transform: translateY(50px);
}
.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #F53844;
    text-align: center;
}

.about-container h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #42378F;
    border-bottom: 2px solid #F53844;
    padding-bottom: 5px;
}

.about-container p {
    margin-bottom: 20px;
}

.about-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-container a {
    color: #F53844;
    text-decoration: none;
    font-weight: bold;
}

.about-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about-container {
        padding: 15px;
    }

    .about-container h1 {
        font-size: 2em;
    }

    .about-container h2 {
        font-size: 1.5em;
    }
}