@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --first-color: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color: hsl(222, 8%, 8%);
    --text-color-light: hsl(222, 8%, 65%);
    --white-color: #fff;
    --body-color: hsl(222, 100%, 99%);
    --body-font: "Poppins", sans-serif;
    --small-font-size: .813rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.mf-cursor {
    color: black;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.center span {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear;
}

@keyframes text {
    50% {
        color: black;
    }
}

#preloader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

#preloader.hidden {
    display: none;
}

.page-cover {
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-cover h1 {
    position: relative;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-cover h1 span {
    position: relative;
    display: block;
    color: black;
    -webkit-text-stroke: 2px white;
    visibility: hidden;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.page-cover h1 span:nth-child(1) {
    visibility: visible;
    animation: animate 2s steps(30, end) forwards;
}

.page-cover h1 span:nth-child(2) {
    animation: animate 2s steps(30, end) forwards;
    animation-delay: 2s;
    visibility: visible;
}

.page-cover .highlight {
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.7);
    display: inline;
    text-decoration: none;
    cursor: pointer;
}


@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}