.contact-cover {
    background-image: url('../images/contact_BG.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.contact-us label {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.contact-us input, .contact-us textarea {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-us .submit-btn {
    padding: 16px 10px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 120px; 
    text-align: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.contact-us .submit-btn:hover {
    transform: scale(1.1);
}