footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 80px;
    background-color: black;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

.col p, 
.col h4, 
.copyright p {
    color: white;
}

footer p {
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: white;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid gold;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover,
.col p:hover {
    color: gold;
}

footer .copyright {
    width: 100%;
    text-align: center;
}