@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --first-color: hsl(222, 80%, 58%);
    --dark-color: hsl(222, 24%, 8%);
    --title-color: hsl(222, 8%, 8%);
    --text-color-light: hsl(222, 8%, 65%);
    --white-color: #fff;
    --body-color: hsl(222, 100%, 99%);
    --body-font: "Poppins", sans-serif;
    --small-font-size: .813rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cover {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.tag-line-content {
    text-align: center;
    margin-bottom: 2rem;
}

.tag-line-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.search-container {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
  
.search {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}
  
.search__input:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--white-color) inset;
}
  
.search__button {
    width: 40px;
    height: 40px;
    background-color: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__icon, .search__close {
    color: var(--white-color);
    font-size: 1.5rem;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
    opacity: 0;
}
  
.show-search {
    width: 100%;
}

.show-search .search__input {
    opacity: 1;
    pointer-events: initial;
}
  
.show-search .search__button {
    transform: rotate(90deg);
}
  
.show-search .search__icon {
    opacity: 0;
}
  
.show-search .search__close {
    opacity: 1;
}

.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    font-size: 3rem;
    transition: right 1s ease;
    z-index: 10;
}

.off-screen-menu.active {
    right: 0;
}

.nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu-button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.close-button {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button:hover {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255, 0.2);
}

.menu-contents {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin-left: 10%;
}

.menu-contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-contents li {
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

.menu-contents li a {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 1px 15px;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-contents li a.current-page {
    color: red;
}

.menu-contents li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logo {
    color: white;
    text-align: center;
    z-index: 1;
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo span {
    font-weight: bold;
    color: red;
}

.short_content_about {
    margin: 0 auto; /* Centers the container horizontally on the page */
    padding: 20px;
    max-width: 800px; /* Sets a maximum width for the text container */
    text-align: justify;
    font-family: 'Poppins', sans-serif; /* Change to your preferred font */
    font-size: 22px; /* Adjust font size as needed */
    line-height: 2; /* Increases line height for better readability */
    color: #333; /* Text color */
    margin: 5%;
    opacity: 0;
    transform: translateY(20px); /* Element starts slightly down */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up {
    opacity: 1;  /* Full opacity when fade-in is triggered */
    transform: translateY(0);  /* Moves to original position */
}

.short_content_about p {
    margin: 0;
    padding: 0;
}

.short_content_about p span {
    font-weight: bold;
}

.read_more_btn {
    display: inline-block;
    background: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.read_more_btn:hover {
    transform: scale(1.2);
}

.scroller img {
    width: 100%;
    height: 350px;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}