.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    font-size: 3rem;
    transition: right 1s ease;
    z-index: 10;
}

.off-screen-menu.active {
    right: 0;
}

.nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu-button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.close-button {
    position: absolute;
    left: 20px;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button:hover {
    transform: scale(1.2);
    background-color: rgb(255, 255, 255, 0.2);
}

.menu-contents {
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin-left: 10%;
}

.menu-contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-contents li {
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

.menu-contents li a {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 1px 15px;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-contents li a.current-page {
    color: red;
}

.menu-contents li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* .logo {
    color: white;
    border: 50%;
    text-align: center;
    z-index: 1;
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo span {
    font-weight: bold;
    color: red;
} */

.logo {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-radius: 50px;
    text-align: center;
    z-index: 1;
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    display: inline-block;
    width: 240px;
    height: auto;
}