/* .services-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

/* h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #007bff;
    margin-top: 20px;
}

.service {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */

swiper-container {
    width: 100%;
    height: 900px;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
  }

.left-content{
    max-width: 30%;
    overflow-x: hidden;
}

.left-content img{
    width: 100%;
    height: auto;
}

.right-content {
    position: relative;
    width: auto;
    max-width: 1000px;
    align-self: flex-start;
    margin: 140px 0px 0px 50px;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.right-content::after, .right-content::before {
    content: '';
    position: absolute;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.right-content:hover::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.right-content h3 {
    text-align: left;
    padding-bottom: 30px;
}

.right-content p {
    font-size: 16px;
    text-align: left;
    word-wrap: break-word;
}


.box {
    display: block;
    background: lightblue;
    margin-bottom: 1em;
    overflow: hidden; /* Ensures content doesn't spill out during transition */
  }
  
  #fade-in {
    height: 0; /* Initially collapsed */
    width: 500px; /* Define width for animation */
    opacity: 0; /* Hidden at start */
    transition: all 0.75s ease; /* Smooth transition for both height and opacity */
  }
  
  #fade-in.show {
    height: auto; /* Expands to fit content */
    opacity: 1; /* Fully visible */
  }
  